/// @type Color
$background: -webkit-radial-gradient(bottom, #10181f, #00020d);

/// @type Color
$primary-color: #ffcb74;

/// @type Color
$secondary-color: #10181f;

/// @type String
$font-path: "../../public/fonts/";
